/* Formatting for main.html page */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: blue;
}

.footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}